TagPrefix = "foo"    # comment
ReadBufferSize = 1024
ServerRoundRobin = true

[Receiver]
Host = "localhost"
Port = 24224

[[Servers]]
Host = "127.0.0.1"

[[Servers]]
Host = "127.0.0.1"
Port = 24225

[[Logs]]
Tag  = "tag1"
File = "/tmp/foo.log"

[[Logs]]
Tag  = "tag2"
File = "/tmp/bar.log"
FieldName = "msg"

[[Logs]]
Tag = "ltsv"
File = "/tmp/baz.log"
Format = "ltsv"
Types = "foo:string,id:integer"
TimeParse = true

[[Logs]]
Tag = "ltsv"
File = "/tmp/bazz.log"
Format = "ltsv"
TimeParse = true
TimeKey = "timestamp"
TimeFormat = "02/Jan/2006:15:04:05 Z0700"

[[Logs]]
Tag = "regexp"
File = "/tmp/regexp.log"
Format = "regexp"
Regexp = "apache"
TimeParse = true
TimeFormat = "apache"

[Monitor]
Host = "127.0.0.2"
Port = 24223
